html {
  text-align: center;
  font-family: helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#Home
p {
  font-size: 18px;
}

#Home {
  background-image: url("../images/the-flatiron-building.png")
}
 #Home,
 a {
   color: white;
   font-weight: normal;
 }

div {
  display: block;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px
}



.footer
p {
  font-size: 11px;
  text-align: left;
  background-color: dimgray;
}

.footer
a {
  font-size: 14px;
}

#banner {
  color: white;
  font-weight: bold;
  font-size: 23px;
  background-image: url("../images/the-flatiron-building.png");
}
