html {
  text-align: center;
  font-family: helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.home {
  background-image: url(./resources/images/the-flatiron-building.png);
}

li {
  font-size: 18px;
  color: white;

}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px
}

.banner {
  color: white;
  background-image: url(./resources/images/the-flatiron-building.png);
}

.footer,
p {
  background-image: url(./resources/images/the-flatiron-building.png);
}
