html {
  text-align: center;
  font-family: helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

li {
  font-size: 18px;
  color: white;

}

div {
  display: block;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px
}

.background {
  background-image: url("Broadway/resources/images/the-flatiron-building.png");
}

.footer
p {
  font-size: 11px;
  text-align: left;
  background-color: dimgray;
}

.footer
a {
  font-size: 14px;
}
